.movie_cont {
    display: flex;
    padding-left: 3%;
}

.movie_page_poster {
    border: 1px solid; color: rgb(39, 39, 39); 
}

.movie_header {
    padding-left: 3%;
    padding-right: 3%;

}

.movie_overview {
    padding: 0%;
    color: antiquewhite;
    width: 30%;
}

.movie_details {
    padding: 1%;
}

.movie_runtime {
    padding-top: 1%;
    color: antiquewhite;
    font-weight: 900;
}

